.snippetText * {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    padding-right: 0.2em;
}

.snippetText {
    display: inline;
    line-height: 28px;
    font-size: 16px;
    margin-top: 6px;
}