.snippetText * {
    display: inline;
}

.snippetText img {
    max-height: 125px;
    width: auto;
    display: block;
}

.snippetText {
    display: inline;
    line-height: 24px;
    font-size: 16px;
}

.snippetTitle {
    font-family: Dosis, sans-serif;
    font-size: 56px;
    font-weight: lighter;
    line-height: 80px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.authorContainer {
}

.author {
}

.continue {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 3px;
}

.arrow {
    font-size: 22px;
}

@media (max-width: 600px) {
    .continue {
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 26%, rgba(255, 255, 255, 0.8) 70%);
        width: 100%;
        text-align: center;
        padding: 15px;
        margin: 0;
        font-weight: bold;
    }

    .arrow {
        display: none;
    }
}

