.landingContainer {
    margin-top: 15px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 850px) {
    .landingContainer {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
}