.landingContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 850px) {
    .landingContainer {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
}