.section > * {
    width: 100%;
}

.section > input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.alert {
    padding: 15px;
    border-radius: 3px;
    color: white;
}

.alert.error {
    background: #f08080;
}

.alert.success {
    background: #90ee90;
}


.submit {
    border-radius: 5px;
    border: 0;
    margin-top: 6px;
    padding: 6px;
    background: #f4f4f4;
}

.label {
    font-size: 0.9em;
}