.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 15px;
    font-family: 'Segoe UI', 'Calibri', 'Droid Sans', sans-serif;
    font-size: 76px !important;
    font-weight: lighter !important;
}

