.title {
    font-family: 'Dosis', sans-serif;
    font-size: 76px;
    font-weight: lighter;
    line-height: 80px;
    margin-top: 0.34em;
    margin-bottom: 0.2em;
}

.skeleton-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bp3-skeleton.title {
    font-size: 60px;
    width: 75%;
    height: 70px;
    display: inline;
}