<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block meta %} {% endblock %}

    <title>{% block title %} {% endblock %} - srikavin.me</title>

    <link href="/favicon.png" rel="icon">
    <link rel="stylesheet" href="/bundle.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X8ZVFPQ0CK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-X8ZVFPQ0CK');
    </script>
</head>

<body>
<nav>
    <div class="nav-left">
        <span>
            <a href="https://srikavin.me" class="name">Srikavin Ramkumar</a>
        </span>
        <span>
            <a href="/posts" class="nav-link">Posts</a>
        </span>
        <span>
            <a class="nav-link" href="/tags">Tags</a>
        </span>
    </div>
    <div class="nav-right">
        <a href="https://github.com/srikavin">
            <img src="/gh-logo.png" alt="Github" width="24px" height="24px"/>
        </a>
    </div>
</nav>
<section class="section">
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</section>

<script src="/bundle.js"></script>
{% block scripts %} {% endblock %}

</body>

</html>
