@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.pt-skeleton {
    display: inline;
}

.footer {
    margin-top: 30px;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    text-align: center;
}