.blog-content {
  blockquote {
    border-left-color: #fce88c;
    background: #fcf5d9;
  }

  > pre {
    border-color: #ccc;
  }

  :not(pre) > code {
    border-color: #ccc;
  }
}

.tag {
  background: #5b6e7e;
  color: white;
}

.tag.minimal {
  background: transparent;
  border: 1px solid #5b6e7e;
  color: #5b6e7e;
}

.tag.minimal.interactive:hover {
  color: white;
}

.tag.interactive:hover {
  background: #6b8294;
}
