.blog-header {
  text-align: center;
  color: var(--text-color);

  .title {
    font-family: "Segoe UI", "Calibri", "Droid Sans", sans-serif;
    font-size: 4em;
    font-weight: lighter;
    line-height: 80px;
    margin-top: .34em;
    margin-bottom: .2em;
  }

  .subtitle {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 8px;
  }
}

.tag {
  display: inline-block;
  line-height: 1.4;
  font-size: 0.75em;
  padding: 2px 6px;
  margin: 2px;
  border: none;
  border-radius: 3px;
  min-height: 18px;
  white-space: nowrap;
  background: var(--tag-bg);
  color: var(--tag-text-color);
}

.tag.minimal {
  background: transparent;
  border: 1px solid var(--tag-bg);
  color: var(--tag-bg);
}

.tag.minimal.interactive:hover {
  color: var(--tag-text-color);
}

.tag.interactive:hover {
  background: var(--tag-bg-hover);
}

.tag.interactive {
  cursor: pointer;
}

.blog-content {
  line-height: 1.6;
  word-wrap: break-word;
  color: var(--text-color);
}

.blog-content img, .blog-content object[type="image/svg+xml"] {
  position: relative;
  max-width: 70vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.blog-content object[type="image/svg+xml"] {
  background-color: white;
}

.blog-content > pre {
  max-width: 85vw;
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  overflow: auto;
}

.blog-content :not(pre) > code {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 1px 4px;
}

.blog-content blockquote {
  padding: 10px;
  margin: 0 0 1em;
  overflow: auto;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: var(--blockquote-left);
  background: var(--blockquote-bg);
}

.blog-content > pre {
  padding: 8px;
  border-color: var(--code-border-color);
}

.blog-content :not(pre) > code {
  border-color: var(--code-border-color);
}
