.blog-header {
  text-align: center;

  .title {
    font-family: "Segoe UI", "Calibri", "Droid Sans", sans-serif;
    font-size: 4em;
    font-weight: lighter;
    line-height: 80px;
    margin-top: .34em;
    margin-bottom: .2em;
  }

  .subtitle {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 8px;
  }
}

.tag {
  display: inline-block;
  line-height: 1.4;
  font-size: 0.75em;
  padding: 2px 6px;
  margin: 2px;
  border: none;
  border-radius: 3px;
  min-height: 18px;
  white-space: nowrap;
}

.tag.dark {
  background: #e5edfa;
  color: black;
}

.tag.minimal.dark {
  border: 1px solid #e5e5f1;
  color: #e5e5f1;
}

.tag.minimal.interactive.dark:hover {
  color: black;
}

.tag.interactive {
  cursor: pointer;
}

.tag.interactive.dark:hover {
  background: #c6d0d9;
}

.blog-content {
  line-height: 1.6;
  word-wrap: break-word;
}

.blog-content img, .blog-content svg {
  position: relative;
  max-width: 70vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.blog-content > pre {
  max-width: 85vw;
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  overflow: auto;
}

.blog-content :not(pre) > code {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 1px 4px;
}

.blog-content.light blockquote {
  border-left-width: 2px;
  border-left-style: solid;
}

.blog-content blockquote {
  padding: 10px;
  margin: 0 0 1em;
  overflow: auto;
}

.blog-content > pre {
  padding: 8px;
}
