nav {
  height: 32px;
  width: 100%;
  margin-bottom: 32px;
}

nav .nav-left {
  left: 32px;
}

nav .nav-right {
  right: 32px;
}

nav .nav-left, nav .nav-right {
  font-size: 16px;
  position: absolute;
  top: 16px;
  .name {
    font-size: 24px;
    width: auto;
    margin-right: 22px;
  }

  span {
    margin-right: 8px;
  }

  span > a {
    color: var(--text-color);
  }
}
