@media (max-width: 800px) {
    .math-container {
        max-height: 100vh;
    }
}

.math-container {
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: auto;
    max-width: 800px;
    display: block;
}

.inline {
    display: inline;
}

.blockquote {
    background: #fcf5d9;
    border-left: 2px solid #fce88c;
    padding: 10px;
    margin: 0 0 1em;
    overflow: auto;
}